- name: Copy hosts file
  copy:
    src: hosts
    dest: /etc/hosts

- name: Copy .bash_profile file
  copy:
    src: .bash_profile
    dest: ~/.bash_profile

- name: Copy .bashrc file
  copy:
    src: .bashrc
    dest: ~/.bashrc

- name: Install yum dependencies
  yum: 
    name: "{{ sys_deps }}"
    state: latest

- name: Start and enable ntpd service
  service:
    name: ntpd
    state: started
    enabled: yes

- include: golang.yml
- include: python3.yml
- include: docker.yml
- include: vim.yml
