- name: Add repositories
  yum_repository:
    name: docker
    description: Docker Repository
    baseurl: https://yum.dockerproject.org/repo/main/centos/7/
    enabled: yes
    gpgcheck: yes
    gpgkey: https://yum.dockerproject.org/gpg

- name: Install yum dependencies
  yum: 
    name: "{{ dependencies }}"
    state: latest

- name: Insall golang
  unarchive: 
    src: "{{ godistr }}"
    dest: /etc
    copy: no

- name: Download python3
  unarchive:
    src: "{{ py3distr}}"
    dest: /tmp
    copy: no

- name: Install python3
  shell: "{{ item }} chdir=/tmp/{{ py3folder }}"
  with_items:
    - ./configure
    - make
    - make install

- name: Create links
  file: 
    src: /etc/go/bin/go 
    dest: /usr/bin/go 
    state: link

- name: Copy hosts file
  copy: 
    src: hosts 
    dest: /etc/hosts

- name: Copy .bash_profile file
  copy:
    src: .bash_profile
    dest: ~/.bash_profile

- name: Copy .bashrc file
  copy:
    src: .bashrc
    dest: ~/.bashrc

- name: Start and enable Docker service
  service:
    name: docker
    state: started
    enabled: yes

- name: Delete temporary files
  file:
    path: /tmp/{{ py3folder }}
    state: absent
